/* Define styling for custom message with class slds-form-element__help */
/*--Font Declaration---*/
@font-face {
	font-family: "Eina-Regular",  Helvetica, Arial, Verdana, Tahoma, sans-serif;
	src: url('/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina01-Regular.woff') format('woff');
}

@font-face {
	font-family: "Eina-Light",  Helvetica, Arial, Verdana, Tahoma, sans-serif;
	src: url('/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-Light.woff') format('woff');
}

@font-face {
	font-family: "Eina-SemiBold",  Helvetica, Arial, Verdana, Tahoma, sans-serif;
	src: url('/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-SemiBold.woff') format('woff');
}

@font-face {
	font-family:   "Eina-Bold",  Helvetica, Arial, Verdana, Tahoma, sans-serif;
	src: url('/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-Bold.woff') format('woff');
}

.modal-visible {
    position: fixed;
    gap: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 33px;
    border: 1px solid #ccc;
    z-index: 1000;
    border-radius: 12px;
}

.xmark {
	font-size: 40px;
    position: relative;
    bottom: 28px;
    left: 20px;
	border: none;
    background: none;
}

.hiconmobile {
	display: none;
    margin-right: 25px;
    margin-top: 15px;

}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}



.modal-buttons {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.home-button {
    background: none;
    border: none;
    cursor: pointer;
}
.modal-close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 0;
}
.modalHead {
	font-family:   "Eina-Bold",  Helvetica, Arial, Verdana, Tahoma, sans-serif;
	font-weight: 400;
	font-size: 32px;
	line-height: 44px;
	color: #403A60;
}

.modalPara {
	margin-top: 20px;
	font-family: "Eina-Regular",  Helvetica, Arial, Verdana, Tahoma, sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	color: #403A60;
}

.modal-close {
	position: relative;
    top: -10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #403A60;
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
}

.modal-close:hover {
	color: #000;
}


.button-Div {
	background-color: #403A60;
	border-radius: 15px;
	color: white;
	font-weight: 800;
	border-style: none;
	padding: 10px 25px;
	font-size: 14px;
	font-family: "Eina-SemiBold",  Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

.button-DivNoBack {
	margin-right: 20px;
	background-color: white;
	border-radius: 15px;
	color: #403A60;
	font-weight: 800;
	border-style: solid;
	border-color: #403A60;
	padding: 10px 25px;
	font-size: 14px;
	font-family: "Eina-SemiBold",  Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

.hicon {
	display: block;
	margin: 20px;
	width: 45px;
    height: 45px;
}

a {
	text-decoration: none;
	color: #403A60;
}

.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-clip: padding-box;
	border-radius: 0.3rem;
	outline: 0;
	border: none;
	text-align: left;
}


@media only screen and (width<=850px) {
	.hicon {
		display: none;
	}
	.button-Div{
		width: 100%;
	}
	.button-DivNoBack{
		width: 100%;
	}.modalHead {
		font-family: "Eina-Bold", Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 44px;
    color: #403A60;
    padding-left: 10px;
	}
.modal-buttons{
	margin-top: 50px;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    width: 100%;
    justify-content: flex-end;
}
	.hiconmobile {
		display: block;
		width: 45px;
		height: 45px;
	}
}
@media only screen and (width<=650px) {
.modal-visible{
	width: 90% !important;
}
}